.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  color: var(--color-dark);
  background: var(--color-blue-light); 
  border-radius: 8px;
  transition: opacity .3s ease-in;

  &:hover {
    opacity: .8;
  }

  & > *:first-child {
    margin-right: 6px;
  }
}
/* a {
  transition: all .6s ease-in-out;
    &:hover {
      text-decoration: underline;
    }
} */