include ../button/button.pug

div(
  class="modal__content" 
  v-if="store.modalClassActual == 'nevro'"
  :class="store.modalClasses()"
)
  div(v-if="store.modalStep < 3" v-effect="store.modalSize = 'mini'")
    include modal-q.pug
  div(v-else-if="store.modalStep == 3" v-effect="store.modalSize = 'big'")
    .modal__main
      .nevro 
        .nevro__text
          .nevro__basetext
            h3.title-h3 Клинические рекомендации 2022
            p <b>Пациентам с ВПРС с обострениями с уровнем EDSS ≤ 6,5 баллов рекомендуется</b> назначение ПИТРС: интерферон бета-1а (для п/к введения), интерферон бета-1b, окрелизумаб, митоксантрон с целью предотвращения обострений и радиологической активности заболевания по данным МРТ головного/спинного мозга и инвалидизации, вызванной данными событиями, но не с целью предотвращения прогрессирования РС.

            h3(class="title-h3" style="margin-top: 30px") Клинические рекомендации (проект)
            p <b>Пациентам с 18 лет с ВПРС с уровнем EDSS ≤ 6,5 баллов</b> с обострениями и прогрессированием инвалидизации, а также с прогрессированием инвалидизации без обострений с целью предотвращения прогрессирования РС и предотвращения обострений и радиологической активности заболевания по данным МРТ головного/спинного мозга (в случае сохранения активности заболевания) рекомендуется назначение препарата cипонимод.
 
        .nevro__img 
          img(src="./img/scleroz.png", alt="Результат")

      div(class="nevro-swiper swiper" v-effect="store.localInitSwiper(store.modalClassActual)")
        .swiper-wrapper
          .swiper-slide
            .nevro__basetext
              h3.title-h3 Клинические рекомендации 2022
              p <b>Пациентам с ВПРС с обострениями с уровнем EDSS ≤ 6,5 баллов рекомендуется</b> назначение ПИТРС: интерферон бета-1а (для п/к введения), интерферон бета-1b, окрелизумаб, митоксантрон с целью предотвращения обострений и радиологической активности заболевания по данным МРТ головного/спинного мозга и инвалидизации, вызванной данными событиями, но не с целью предотвращения прогрессирования РС.
          .swiper-slide
            .nevro__basetext
              h3.title-h3 Клинические рекомендации (проект)
              p <b>Пациентам с 18 лет с ВПРС с уровнем EDSS ≤ 6,5 баллов</b> с обострениями и прогрессированием инвалидизации, а также с прогрессированием инвалидизации без обострений с целью предотвращения прогрессирования РС и предотвращения обострений и радиологической активности заболевания по данным МРТ головного/спинного мозга (в случае сохранения активности заболевания) рекомендуется назначение препарата cипонимод.
          .swiper-slide
            .nevro__img 
              img(src="./img/scleroz.png", alt="Результат")
      .nevro-swiper__pagi.swiper-pagination
    .modal__footer 
      .modal__footnote
          p Клинические рекомендаций по рассеянному склерозу. 
          p Доступно на <a href="https://cr.minzdrav.gov.ru/recomend/739_1" target="_blank">https://cr.minzdrav.gov.ru/recomend/739_1</a> Дата размещения 13.07.2022
          p Проект клинических рекомендаций по рассеянному склерозу 
          p <a href="http://ructrims.org/education_ru" target="_blank">http://ructrims.org/education_ru</a>

      +button('Далее')(@click="store.nextPage('modal'); store.closeModal()")