extends ../../layouts/modal.pug
include ../button/button.pug

block content
  .modal__header 
    h4 Какие методы, кроме шкалы EDSS можно использовать для оценки прогрессиирования заболевания? 
    p Возможно несколько вариантов ответа 
  .modal__main
    .victorina
      .victorina__item
        include ../checkbox/checkbox.pug
        label SDMT
      .victorina__item
        include ../checkbox/checkbox.pug
        label Тест ходьбы на 25 футов
      .victorina__item
        include ../checkbox/checkbox.pug
        label MsProDiscuss

      .victorina__item
        include ../checkbox/checkbox.pug
        label Тест девяти колышков

  .modal__footer
    +button("Ответить")