include ../button/button.pug

div(
  class="modal__content" 
  v-if="store.modalClassActual == 'tomography'"
  :class="store.modalClasses()"
  v-effect="store.modalSize = 'big'"
)
  .modal__header 
    h3 {{ store.modalTomography == 'mrt' ? 'МРТ в динамике' :  'Результаты проведенных исследований' }}

  .modal__main
    div(class="sw_1" v-if="store.modalTomography === 'mrt'")
      .swiper__mrt.swiper
        .swiper__mrt__content.swiper-wrapper
          //- какое поведение закладывается если нет мрт или оно одно?
          div(class="swiper__mrt__item swiper-slide" v-if="store.listTab[store.currentTab].year == '2007'")
            img(src="./img/nophoto-mrt.png", alt="")
            .swiper__mrt__text
              h4 2007
              p МРТ головного мозга с контрастным усилением 
              span Единичный очаг в левом семиовальном центре
          div(class="swiper__mrt__item swiper-slide" v-if="store.listTab[store.currentTab].year == '2014'")
            img(src="./img/nophoto-mrt.png", alt="")
            .swiper__mrt__text
              h4 2014
              p МРТ головного мозга с контрастным усилением  
              span Множественные очаги демиелинизации
          div(class="swiper__mrt__item swiper-slide" v-if="store.listTab[store.currentTab].year == '2015'")
            img(src="./img/nophoto-mrt.png", alt="")
            .swiper__mrt__text
              h4 2015
              p МРТ головного мозга с контрастным усилением 
              span По сравнению с иссл-ем 22.01.14 появление  4 новых очага
      .swiper-button-next
      .swiper-button-prev
      .swiper-pagination.swiper__mrt_pagi
    div(class="sw_2" v-if="store.modalTomography === 'sled'")
      .swiper__sled.swiper
        .swiper__sled__content.swiper-wrapper
          //- какое поведение закладывается если нет мрт или оно одно?
          div(class="swiper__sled__item swiper-slide" v-if="store.listTab[store.currentTab].year == '2016-2017'")
            .swiper__sled__text
              h4 2017
              .swiper__sled-item
                strong 13 мая
                p ФГ 
                span Патологии не выявлено. 
          div(class="swiper__sled__item swiper-slide" v-if="store.listTab[store.currentTab].year == '2018'")
            .swiper__sled__text
              h4 2018
              .swiper__sled-item
                strong 13 мая
                p ЭКГ 
                span ЧСС 67, ритм синусовый, нормальное  положение ЭОС.
              .swiper__sled-item
                strong 4 декабря
                p Анализ мочи, БХ анализ крови, гормоны ЩЖ 
                span Без  отклонений. 
          div(class="swiper__sled__item swiper-slide" v-if="store.listTab[store.currentTab].year == '2019-2021'")
            .swiper__sled__text
              h4 2021
              .swiper__sled-item
                strong 25 мая
                p ОАК, БХАК, гормоны ЩЖ 
                span Лейкоцитурия, бактериурия, СОЭ 50
              .swiper__sled-item
                strong 10 июля
                p Антитела к VZV IgG 
                span 10,15 (иммунитет присутствует) 
              .swiper__sled-item
                strong 19 июля
                p ЭКГ 
                span Ритм синусовый,ЧСС 72,ЭОС нормальная. 
      .swiper-button-next
      .swiper-button-prev
      .swiper-pagination.swiper__sled_pagi