include ../button/button.pug

div(
  class="modal__content" 
  v-if="store.modalClassActual == 'shema'"
  :class="store.modalClasses()"
)
  div(v-if="store.modalStep < 3" v-effect="store.modalSize = 'mini'")
    include modal-q.pug
  div(v-else-if="store.modalStep == 3" v-effect="store.modalSize = 'big'")
    .modal__main
      .shema 
        .shema__text
          .shema__basetext 
            p <b>Подтверждённое прогрессирование инвалидизации</b> – стойкое нарастание неврологических нарушений (по Расширенной шкале статуса инвалидизации пациента (EDSS), Приложения Г1 и Г2) по сравнению с исходным уровнем, вне периода обострений и не связанное с перенесённым ранее обострением. 
            br
            p <b>Подтвержденное прогрессирование выставляется тогда, когда у пациента сохраняется или увеличивается балл EDSS по сравнению с датой первого зафиксированного нарастания неврологических нарушений минимум через 6 месяцев, при условии отсутствия обострений в период измерения.</b> 
          .shema__desc 
            p Значимым нарастанием неврологических нарушений является увеличение EDSS на ≥ 1,5 балла при исходном балле EDSS = 0, на ≥ 1,0 балл для пациентов с исходным EDSS = 1,0 – 5,5 баллов, или ≥ 0,5 балла – для пациентов с исходным уровнем EDSS ≥ 6,0 [9]. Самый ранний период, когда подтвержденное прогрессирование может быть зафиксировано, составляет 3 месяца. Более достоверным и важным для рутинной практики можно считать подтвержденное прогрессирование инвалидизации через 6 месяцев

        .shema__img 
          img(src="./img/shema.svg", alt="Схема лечения")

    .modal__footer 
      .modal__footnote
          p Клинические рекомендации по рассеянному склерозу 2022
          p https://apicr.minzdrav.gov.ru/api.ashx?op=GetClinrecPdf&id=739_1
      +button('Далее')(@click="store.currentPage++; store.closeModal()")