nav.navbar 
  ul.navbar__wrapper
    li(
      v-for="val, index in listNav" 
      class="navbar__item"
    )
      //- доступы к этапам навбара, как они будут выставляться?
      button(
        type="button" 
        :class="{active: store.currentPage - store.startNavbarPage == index }"
        :disabled="index > 3"
        @click="store.setNavbar(index)"
      ) 
        span {{val}}
