mixin checkbox()
  div(
    ref="checkbox" 
    class="checkbox" 
    @click="store.onClickCheckbox($event)"
  )
    div(class="checkbox-hidden-accessible")
      input(
        class="iin"
        type="checkbox" 

      )
    div(role="checkbox"  :class="store.checkboxClasses()")&attributes(attributes)
      span(class="p-checkbox-icon")

            //- v-effect="console.log($refs.checkbox, $el.checked)"