section(class="se_1 se" v-show="store.currentPage == 1")
  .se_1__content.se__content
    .se_1__img-mob.image-mob
      img(src="./img/se_1.png", alt="")
    h1.title-h1 Вторично-прогрессирующий рассеянный склероз с обострениями, длительное применение сипонимода
    //- h3.title-h2 

    .se_1__info
      .se_1__info-item
        //- p Автор / источник :
        strong Бабичева Наталья Николаевна
      .se_1__info-item
        //- p Специализация:
        strong Врач-невролог высшей категории, к.м.н.
      //- .se_1__info-item
      //-   i ВПРС, сипонимод, глатирамера ацетат, непереносимость первой линии терапии, хронический аутоимунный тиреоидит.

  .se_1__img.image-right 
    img(src="./img/se_1.png", alt="")