section(class="se_1 se" v-show="store.currentPage == 1")
  .se_1__content.se__content
    .se_1__img-mob.image-mob
      img(src="./img/se_1.png", alt="")
    h1.title-h1 Клинический случай №3
    //- h3.title-h2 Подзаголовок

    .se_1__info
      .se_1__info-item
        //- p Автор / источник :
        strong Попова Екатерина Валериевна
      .se_1__info-item
        //- p Специализация:
        strong Врач-невролог высшей квалификации, д.м.н., заведующая межокружным отделением рассеянного склероза.
      .se_1__info-item
        i ВПРС без обострений, алемтузумаб, сипонимод

  .se_1__img.image-right 
    img(src="./img/se_1.png", alt="")