section(class="se_1 se" v-show="store.currentPage == 1")
  .se_1__content.se__content
    .se_1__img-mob.image-mob
      img(src="./img/se_1.png", alt="")
    h1.title-h1 Клинический случай №1
    h3.title-h2 Подзаголовок

    .se_1__info
      .se_1__info-item
        p Автор / источник :
        strong Татаренко Алена Игоревна
      .se_1__info-item
        p Специализация:
        strong МОРС ГКБ имени В.М. Буянова

  .se_1__img.image-right 
    img(src="./img/se_1.png", alt="")