section(class="se_2 se" v-show="store.currentPage == 2")
  .se_2__content.se__content
    .se_2__img
      img(src="./img/Woman.png", alt="")
    .se_2__info
      h3.title-h3 Пациентка Ш. 
      p <b>ГОД РОЖДЕНИЯ:</b> 1975
      p <b>Пол:</b> Ж
      p <b>Профессия/Образ жизни:</b> творческая профессия, есть ребенок, ухаживает за пожилой мамой продолжает работать <br><br> Аллергологический и наследственный анамнез без особенностей.