section(class="se_2" v-show="store.currentPage == 2")
  .se_2__content
    .se_2__img
      img(src="./img/Woman.png", alt="")
    .se_2__info
      h3.title-h3 Пациентка Р. 
      span 1963 г. рождения
      p <b>Пол:</b> Ж
      p <b>Профессия/Образ жизни:</b> швея, продолжает работать