section(class="se_3" v-show="store.currentPage == 3")
  include ../components/navbar/navbar.pug
  .se_3__content
    h3.title-h3 Жалобы
    ul.se_3__ul
      li.se_3__item
        img(src="./img/ico_step.png", alt="") 
        p Сохраняется онемение рук в утренние часы, скованность, слабость рук и ног, периодический тремор в руках, спотыкается при ходьбе, прострелы в ноге по задней поверхности, иррадиирующие в ягодичную область, 
      li.se_3__item
        img(src="./img/ico_pi.png", alt="") 
        p императивные позывы на мочеиспускание,эпизоды недержания мочи, 
      li.se_3__item
        img(src="./img/ico_eye.png", alt="") 
        p нарушение фокусировки зрения, периодическое двоение в глазах преимущественно в вечернее время суток, преходящее снижение зрения.
    
  .se_3__img.image-right 
    img(src="./img/se_3.png", alt="")