section(class="se_3 se se-with-navbar" v-show="store.currentPage == 3")
  .se_3__content.se__content
    h3.title-h3 Жалобы
    .se_3__img-mob.image-mob
      img(src="./img/se_3.png", alt="")
    ul.se_3__ul
      li(class="se_3__item" style="align-items: center")
        img(src="./img/icon_fall.svg", alt="") 
        p Нарушение ходьбы в виде сильной неустойчивости,
      li(class="se_3__item" style="align-items: center")
        img(src="./img/icon_foot.svg", alt="") 
        p слабость в ногах, 
      li(class="se_3__item" style="align-items: center")
        img(src="./img/icon_pi.svg", alt="") 
        p недержание мочи.
    
  .se_3__img.image-right 
    img(src="./img/se_3.png", alt="")