section(class="se_5 se se-with-navbar" v-show="store.currentPage == 5")
  
  .se_5__content.se__content
    h3.title-h3 Неврологический статус

    .se_5__info
      p.se_5__item <b>Черепные нервы:</b> Зрачки D=S. Фотореакция зрачков минимально ослаблена (прямая с двух сторон). Легкое нарушение ассоциированных движений глазных яблок, корригирующие саккады в тесте плавного слежения, Ng, диплопии нет. Нарушений болевой чувствительности на лице не отмечает.
      br
      p.se_5__item <b>Асимметрия лица:</b> за счет сглаженности носогубных складок слева.
      br
      p.se_5__item <b>Дизартрия (мозжечковая). Дисфагия:</b> редко. Дисфония.
      p.se_5__item <b>Симптомы орального автоматизма:</b> Маринеску-Радовичи, высокий мандибулярный. Язык по средней линии.
      br
      p.se_5__item <b>Произвольные движения:</b> Объем движений полный. Самостоятельная ходьба >300 м.
      p.se_5__item <b>Мышечный тонус в руках:</b> с двух сторон спастичность. <b>Мышечный тонус в ногах:</b> с двух сторон спастичность. <b>Мышечная сила в руках, баллов:</b> справа 5, слева 4-5. <b>Мышечная сила в ногах, баллов:</b> справа 3-4, слева 3. Проба Мингацинни для рук положительная слева на 5 секунде. Проба Барре для ног положительная, S>D.
      br
      p.se_5__item <b>Рефлексы:</b> Проприорефлексы с рук D>S: Спастические, с расширенных зон. Проприорефлексы с ног D>S: Спастические.
      p.se_5__item <b>Коленная зона вызывания:</b> с нижней трети голени. Брюшные рефлексы отсутствуют: с двух сторон.
      p.se_5__item <b>Патологические рефлексы с рук:</b> с двух сторон Вендеровича, Тромнера.
      p.se_5__item <b>Патологические рефлексы с ног:</b> с двух сторон Бабинского Чураева.
      p.se_5__item <b>Гипотрофия мышц:</b> нет.
      br
      p.se_5__item <b>Походка:</b> парапаретически-атаксическая.
      p.se_5__item <b>Непроизвольные движения:</b> постуральный тремор в руках (легкий).
      p.se_5__item <b>Чувствительность:</b> Снижение вибрационной чувствительности: с двух сторон в нижних конечностях. Гмсч сохранено. Нарушений болевой чувствительности не отмечено.
      br
      p.se_5__item <b>Координация движений:</b> Пальценосовая проба, дисметрия: легкая, грубее слева.
      br