section(class="se_5 se se-with-navbar" v-show="store.currentPage == 5")
  
  .se_5__content.se__content
    h3.title-h3 Неврологический статус

    .se_5__info
      //- p.se_5__item <b>Уровень сознания:</b> ясное.
      p.se_5__item В неврологическом статусе: в сознании, менингеальных знаков нет. ЧМН: амавроз справа, амблиопия слева, гиперпатия в области лица справа. Сухожильные рефлексы равные, оживлены. Сила в руках: справа 3 балла, слева 5 баллов. Сила в ногах: справа 2-3-5 баллов, слева 4,5 баллов. Тонус мышц правых конечностей спастический (больше в правой руке). С-м Бабинского с 2-х сторон. гипостезия в правой ноге. В п. Ромберга неустойсива с ЗГ. ПНП с мимопопаданием справа. ПКП слева в норме. Тазовые функции контролирует. Ходит с односторонней поддержкой (более 500 метров).
      br
      p.se_5__item EDSS=5,5 балла