section(class="se_5 se se-with-navbar" v-show="store.currentPage == 5")
  
  .se_5__content.se__content
    h3.title-h3 Неврологический статус

    .se_5__info
      p.se_5__item <b>Уровень сознания:</b> ясное.
      p.se_5__item <b>Ориентация:</b> в пространстве, времени и собственной личности сохранена.
      p.se_5__item <b>Жалобы на сон:</b> не нарушен.
      p.se_5__item <b>Менингеальный синдром:</b> не выявлен.
      p.se_5__item.br <b>Дизартрия, дисфония:</b> не выявлено. Речь не изменена.
      //- по какому принципу здесь отступы?

      p.se_5__item <b>Глазные щели:</b> равные. Величина и симметрия зрачков: D=S. Нистагм: отсутствует.
      p.se_5__item <b>Движение глазных яблок:</b> не изменено. Роговичные рефлексы: D=S.
      p.se_5__item.br <b>Реакция зрачков на свет:</b> в норме. Поля зрения: не изменены. Диплопия: нет.
       

      p.se_5__item <b>Чувствительность лица:</b> не изменена. Мимическая мускулатура: лицо симметрично. Слух: не изменен.
      p.se_5__item.br <b>Глотание:</b> не изменено. Чувствительная сфера: не изменена.


      p.se_5__item <b>Конечности:</b>  все, с обеих сторон. Мышечная сила. Тетрапарез: нижний спастический парапарез в правой ноге - 3,5 б, в левой ноге - 4 б, в левой и правой руке - 4,5 б. Мышечный тонус: повышен.
      p.se_5__item.br <b>Сухожильные рефлексы конечностей:</b> живые.
      
      
      p.se_5__item <b>Патологические знаки:</b> Симптом Бабинского с 2-х сторон. Координаторные пробы выполняет удовлетворительно с 2-х сторон. В позе Ромберга пошатывается. Тазовые нарушения - недержание мочеиспускания. Походка самостоятельная до 400м. SDMT 33б. EDSS 5.0б.