section(class="se_6 se se-with-navbar" v-show="store.currentPage == 6")

  .se_6__content.se__content
    h3.title-h3 Сопутствующие заболевания

    .se_6__img-mob.image-mob
      img(src="./img/se_8.png", alt="")

    ul.se_6__info
      li Глаукома 03.06.2021 OD оперированная лазером, хронический увеит. 
      li Гипертоническая болезнь 2 ст риск3.
      li Узловой нетоксический зоб 1 ст С 05.2022.
      li Остеопороз.

  .se_6__img.image-right 
    img(src="./img/se_8.png", alt="")