section(class="se_6" v-show="store.currentPage == 6")
  include ../components/navbar/navbar.pug

  .se_6__content
    h3.title-h3 Сопутствующие заболевания

    ul.se_6__info
      li Хронический аутоимунный тиреоидит. 
      li Ожирение IIIст.
      li Состояние после холецистэктомии, задней сепарационной реконструкции передней брюшной стенки, комбинированной аллопластики (01.2018г.).

  .se_3__img.image-right 
    img(src="./img/se_6.png", alt="")