section(class="se_6 se se-with-navbar" v-show="store.currentPage == 6")

  .se_6__content.se__content
    h3.title-h3 Сопутствующие заболевания

    .se_6__img-mob.image-mob
      img(src="./img/se_8.png", alt="")

    ul.se_6__info
      li Не отмечено

  .se_6__img.image-right 
    img(src="./img/se_8.png", alt="")