section(class="se_7 se se-with-navbar" v-show="store.currentPage == 7")

  .se_7__content.se__content
    h3.title-h3 Результаты лечения

    .se_7__img-mob.image-mob
      img(src="./img/se_7.png", alt="")

    .se_7__info
      h4  Рассеянный склероз, вторично-прогрессирующее течение с обострениями, ремиссия
      br
      h4 EDSS 4,5б
      br
      p Состояние пациентки стабильное, обострений не отмечено. Сохраняется общая слабость и утомляемость в ногах, EDSS 4,5 б. 
  .se_7__img.image-right 
    img(src="./img/se_7.png", alt="")