section(class="se_7 se se-with-navbar" v-show="store.currentPage == 7")

  .se_7__content.se__content
    h3.title-h3 Результаты лечения

    .se_7__img-mob.image-mob
      img(src="./img/se_7.png", alt="")

    .se_7__info
      h4 Июнь 2022
      //- p ППИ-6 с 4 до 5 баллов 
      br
      ul
        li EDSS 5,5
        li Нет когнитивных нарушений
        li Обострений нет
        li 2021-2022 МРТ на фоне терапии сипонимод без отрицательной динамики 
  .se_7__img.image-right 
    img(src="./img/se_7.png", alt="")