section(class="se_7 se se-with-navbar" v-show="store.currentPage == 7")

  .se_7__content.se__content
    h3.title-h3 Заключение

    .se_7__img-mob.image-mob
      img(src="./img/se_7.png", alt="")

    .se_7__info
      h4 Диагноз июль 2021 
      p ППИ-6 с 4 до 5 баллов 
      br
      p Клинический основной 
      p Рассеянный склероз с обострениями, вторично-прогрессирующее течение (G35). 
    .se_7__msprodiscuss 
      p Оценка по опроснику <i>MSproDiscuss</i>:
      span желтый
  .se_7__img.image-right 
    img(src="./img/se_7.png", alt="")