section(class="se_8 se se-with-navbar" v-show="store.currentPage == 8")

  .se_8__content.se__content
    h3.title-h3 Назначения

    .se_8__img-mob.image-mob
      img(src="./img/se_8.png", alt="")

    .se_8__info
      h4 2021 
      p С ноября 2021 начат прием сипонимода, отмечает увеличение толерантности к физическим нагрузкам, уредились эпизоды неудержания мочи, «стала бодрее». 
      br
      h4 Июнь 2022 
      p В настоящее время состояние относительно стабильное. <br>За прошедший период наблюдения удалось достигнуть приостановки прогрессирования. В связи с хорошей переносимостью, положительным ответом на лечение сиптонимодом, пациентке рекомендовано продолжить терапию сипонимодом
      br
      ul
        li Улучшение по SDMT на 1 балл (31-33б.б.)
        li Улучшение функции верхних конечностей по тесту 9 колышков
        li Субъективное уменьшение утомляемости
        li Увеличение дистанции ходьбы (до 400 м, ранее - 200 м)

  .se_8__img.image-right 
    img(src="./img/se_8.png", alt="")