section(class="se_9 se se-with-navbar" v-show="store.currentPage == 9")

  .se_9__content.se__content
    h3.title-h3 Рекомендации
  
    .se_9__img-mob.image-mob
      img(src="./img/se_9.png", alt="")

    ul.se_9__info
      li продолжить терапию сипонимодом  
      li Динамическое наблюдение невролога - специалиста по РС в окружном кабинете поликлиники по месту жительства. 
      li Динамические физические нагрузки, ЛФК постоянно.
      li Исключить инсоляции, бани, сауны

  .se_9__img.image-right 
    img(src="./img/se_9.png", alt="")