include ../button/button.pug

footer.footer 
  .footer__content
    .footer__btns 
      +button("Назад")(v-if="store.currentPage > 1" @click="store.prevPage()")
      +button("Далее")(v-if="store.currentPage != store.finishedPage" @click="store.nextPage()")
      +button("В начало")(v-if="store.currentPage == store.finishedPage" @click="store.currentPage = 1; ym(91328042,'reachGoal','finished')" class="btn-not-icon")