doctype html
html(lang="ru")
  head
    title MShelper

    link(rel='stylesheet', href='./index.pcss')
    link(rel="stylesheet" href="./basicLightbox.min.css")

    script(src='index.js' defer type="module")

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="MShelper – информационный портал")

    meta(name="theme-color" content="#000000")

    // Yandex.Metrika counter
    script.
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(91328042, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true
        });
    <noscript><div><img src="https://mc.yandex.ru/watch/91328042" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    // /Yandex.Metrika counter
    
  body 
    div(id="app" class="container" v-scope @vue:mounted="console.log('mounted on: ', $el)")
      main
        include ./components/navbar/navbar.pug
        section#app-slide
          include ./blocks/se_1.pug
          include ./blocks/se_2.pug
          include ./blocks/se_3.pug
          include ./blocks/se_4.pug
          include ./blocks/se_5.pug
          include ./blocks/se_6.pug
          include ./blocks/se_7.pug
          include ./blocks/se_10.pug
      //- Footer
      include ./components/footer/footer.pug
      //- Modal
      include ./layouts/modal.pug
      
    script(src='clamp.min.js' defer)
    script(src='basicLightbox.min.js' defer)